
.language-title{
    color: var(--color-verde-claro);
}

.icon{
    color: var(--color-naranja);
}

.config-container{
    overflow: hidden;
    position: fixed;
    inset: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-verde-oscuro);
    z-index: 1000000;
}

.config-content{
    min-height: 100%;
    width: 100%;
    display: flex;
}

aside{
    padding: 5rem 0 1.5rem 1.5rem;
    flex-flow: 1;
    width: 30%;
    background-color: var(--color-verde-oscuro-2);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
}

.config-aside-item{
    color: var(--color-naranja);
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem 0;
    padding: 0.4rem;
    min-width: fit-content;
    width: 10rem;
    height: fit-content;
    position: relative;
    z-index: 20;
    overflow: hidden;
}

.config-aside-item::after{
    transition: all 0.3s ease-in-out;
    content: "";
    border-radius: 5px 0 0 5px;
    background-color: var(--color-verde-oscuro);
    z-index: -10;
    position: absolute;
    inset: 0;
    transform: translateX(100%);
}

.config-aside-item:hover::after{
    transform: translateX(0);
}

.config-aside-item:hover{
    width: 12rem;
    transition-delay: 0.2s;
    border: 10px 0 0 10px;
}

.config-right-side{
    flex: 1;
}

.language-right-side{
    padding: 5rem 3rem;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction:column ;
}

.language-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px 15px 15px 50px;
    padding:0.5rem;
    background-color: var(--color-verde-oscuro-2);
    position: relative;
}

.icon{
    font-size: 30px;
    position: absolute;
    right: 20px;
}

.language-img{
    height: 50px;
}

.language-content{
    align-items:right;
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.language-name{
    padding-left: 10px;
    font-size: 19px;
}

.close-config{
    align-self:flex-start;
    left: 0;
    margin: 1.5rem;
    position: absolute;
}

.icon-close-config{
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    border: 2px solid var(--color-verde-claro);
    color: var(--color-verde-claro);
    border-radius: 50px;
}

.icon-close-config:hover{
    background-color: var(--color-verde-claro);
    color: var(--color-verde-oscuro-2);
}

.language-item:hover{
    width: 95%;
}

@media screen and (max-width:1050px){
    .language-right-side{
        width: 100%;
        padding: 3rem 1rem;
    }
}